*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(130, 132, 134);
    margin: 0 auto;
}

#warning{
    text-decoration: underline gray;
}

/* 1200 970 
992 750
767 none*/

@media (max-width: 1200px){
    .body{
        max-width: 970px;
    }

}

@media (max-width: 992px){
    .body{
        max-width: 750px;
    }

    .navigation{
        max-width: 230px;
    }

    .header h2{
        font-size: 30px;
    }

    .navigation a{
        font-size: 20px;
    }
}

@media (max-width: 767px){
    .header{
        font-size: 20px;
    }

    .body{
        max-width: none;
        flex-direction: column-reverse;
    }

    .profile{
        margin: 20px 20px 0 20px;
    }

    .text{
        margin: 20px;
        max-width: fit-content;
    }

    img{
        margin: 0 auto;
    }

    .header h2{
        font-size: 22px;
    }

    .navigation a{
        font-size: 9px;
    }

    .footer p{
        margin: 0 30px;
    }
}

@media (max-width: 374px){

    img{
        width: 200px;
    }

    .header h2{
        font-size: 17px;
    }
}

.top{
    width: 100%;
    display: flex;
    background-color: white;
}

.footer {
    width: 100%;
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

#git{
    margin-top: 70px;
    text-decoration: underline;
}

.header{
    font-size: 44px;
    width: 60%;
}

.header h2{
    margin-inline-start: 30px;
}

.navigation{
    width: 40%;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.navigation a{
    margin: 0 2%;
    padding: 5%;
}

.body{
    margin: 20px auto;
    display: flex;
}

.text{
    width: 100%;
    background-color: white;
    font-size: 20px;
    margin-inline-end: 20px;
    padding: 30px;
    margin-inline-start: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    margin-inline-end: 20px;
}

.profile > div{
    background-color: white;
}

.about{
    padding: 30px;
    background-color: white;
}

.contact{
    margin: 20px 0;
    padding: 30px;
}

.about p{
    margin-top: 2.5%;
}

a{
    color: black;
    text-decoration: none;
}

.active{
    text-decoration: underline;
    background-color: rgb(225, 226, 226);
}

img{
    max-width: 282px;
    padding: 30px;
}